<div class="row">
  <div class="col d-flex justify-content-start mb-4 flex-wrap my-2">
    @for (product of productList()?.products; track $index) {
    <mat-card class="product-card m-2" appearance="outlined">
      <img
        class="preview-image"
        mat-card-image
        src="{{ product.images[0] }}"
        alt="product image"
      />
      <mat-card-content>
        <p>{{ product.title }}</p>
      </mat-card-content>
      <mat-card-actions class="mt-2" align="end">
        <button mat-flat-button (click)="addItemToCart(product.id)">
          Add to Cart
        </button>
      </mat-card-actions>
    </mat-card>
    }
  </div>
</div>
