@import "../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #fafafa;
}

.container {
  padding-top: 60px;
}
